# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:amiable-bulldog-117 # team: yvonne-lu-trinh, project: lilguy-71ebb
NEXT_PUBLIC_CONVEX_URL=https://amiable-bulldog-117.convex.cloud


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3Rhci1lbGVwaGFudC03OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_e3Lc5DQSLOwb4qlHwqbdw04BpKoh7YQSRLZzrQheOV


NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_CLERK_REDIRECT_URL=http://localhost:3000


OPEN_AI_API_KEY=